@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full grid relative;
  }
  div {
    @apply leading-normal;
  }
  h1 {
    @apply text-5xl md:text-5xl lg:text-7xl;
  }
  h4 {
    @apply text-4xl;
  }
}

@layer components {
  .nav-item:not(:last-child) {
    @apply mr-9;
  }
  .nav-item {
    @apply py-2;
  }

  .home-name {
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 34px;
  }

  .home-headline {
    @apply text-3xl;
  }

  .single-headline {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
  }

  .single-headline-title {
    display: inline-block;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .single-headline-title::after {
    background-color: #b9b9b9;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
  }

  .fixed-wrapper {
    @apply relative my-0 mx-[50px];
  }

  .fixed-block {
    @apply absolute bottom-[34px];
  }

  .block-left {
    @apply left-0;
  }

  .block-right {
    @apply right-0;
  }

  .social-icons {
    @apply mb-0;
  }

  .social-icons > li {
    @apply mt-4 text-center leading-none;
  }
}
